@import 'bootstrap/scss/bootstrap';

* {
    text-align: center;
    margin: 0;
}

#demo {
    width: 100%;
}

.carousel-inner {
    height: 400px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.site-header {
    display: flex;
    justify-content: space-between;
  
    padding: 10px;
    text-align: left;
}

.nav-link {
    color: #fff;
    margin-right: 40px;
}

.header span {
    font-size: 24px;
    color: blue;
    margin-bottom: 5px;
    margin: 0;
    text-align: left;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f8f9fa;
}

.search-bar {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    margin-right: 200px;
}

#search {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#title {
    margin-left: 200px;
    text-align: left;
}

.search-container {

}

#feature {
    text-align: center;
}

.feature-product {
    background-color: #f0f0f0;
}

#loadMore, #loadMore1 {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-block {
    width: 400px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.product-block img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-block p {
    margin: 10px 0;;
}

.blank-section {
    height: 80px;
    background-color: transparent;;
}

#help-button{
    display: block;
    width: 100%;
    border: none;
    background-color: cornflowerblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


.footer-container {
    display: flex;
    justify-content: space-between;
}

.web {
    margin-left: 10px;
    margin-bottom: 0;
}

.left-content {
    margin-left: 10px;
    text-align: left;
}

.right-content {
    margin-right: 30px;
    text-align: right;
}